@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* general styling */
:root {
    --primary-color: #fcfbf6;
    --background-color: #1a1a1a;
    --hover-color: #7c482a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    color: var(--primary-color);
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Merriweather';
    color: #d8577eda;
}

h2, h3 {
    font-family: 'Merriweather';
    color: #a043a5b9;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #1a1a1a;
    font-size: clamp(0.5rem, 1vw, 2rem);
    font-weight: bold;
    box-shadow: 0 5px 15px #232323;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 10vh;
    overflow: hidden;
    flex-wrap: wrap;
    text-align: center;
}

#logo a{
    text-decoration: none;
}

/* icon bar */
#iconbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#iconbar li a{
    text-decoration: none;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    font-weight: 600;
    color: #d24b73;
    transition: 0.3s ease;
}

#iconbar li a:hover,
#iconbar li a.active {
    color: #ffa366;
    
}

/*underline for selected element*/
#iconbar li a.active::after,
#iconbar li a:hover::after{
    content: "";
    left: 0;
    width: 1.3vw;
    height: 2px;
    background-color: #ffa366;
    position: absolute;
    bottom: -4px;
    left: 9.5px;
}

/* wrapper */
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 78vh;
    width: 95%;
    background-color: #1a1a1a;
    margin: 1% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #232323;
}

/* marquee styling */
.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    margin-bottom: 15px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #d24b73;
    height: 32px;
    padding: 5px;
}

.marquee {
    position: absolute;
    white-space: nowrap;
    display: inline-block;
    animation: scrollLeft 15s linear infinite;
    font-family: 'Poppins';
    color: #ffa366;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    left: 5%;
}

@keyframes scrollLeft {
    to {
        left: -50%;
    }
}

/* footer */
footer {
    display: flex;
    z-index: 1;
    margin-top: 20px;
}