@import url('https://fonts.googleapis.com/css?family=Merriweather');

#heroArea {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

#heroArea h2 {
    font-family: Merriweather;
    font-size: 62px;
    color: var(--primary-color);
    letter-spacing: 2px;
    padding: 25px 0;
    align-items: center;
}

.catBox {
    background-image: url("../asset/petShopBackground.png");
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    width: 100%;
    height: 750px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    display: flex;
}

.catObject {
}