.catBox {
    background-image: url("../asset/petShopBackground.png");
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    width: 100%;
    height: 750px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.catObject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.catObject p{
    background: var(--background-color);
    color: black;
}